wsdl/prod/1ASIWPOC1A_PDT_HotelAvailability_2.0_2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with WSDLGenerator 1.0.0 by Amadeus SAS -->
<!-- "Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved." -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsdl.amadeus.com/HotelAvailability_v2_v2" xmlns:int="http://wsdl.amadeus.com/HotelAvailability_v2" xmlns:awsse="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" targetNamespace="http://wsdl.amadeus.com/HotelAvailability_v2_v2" name="_1APOC_HotelAvailability_2.0_2.0">
  <wsdl:documentation>Versions: [interface: 2.0 ; technical: 2.0]</wsdl:documentation>
  <wsdl:import location="HotelAvailability_2.0.wsdl" namespace="http://wsdl.amadeus.com/HotelAvailability_v2" />
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="WBS_Session-2.0.xsd" namespace="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_2.0">
    <wsdl:part element="awsse:Session" name="session" />
  </wsdl:message>
  <wsdl:binding name="HotelAvailability_Binding" type="int:HotelAvailability_PT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hotel_CalendarView">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWPOC1A/Hotel_CalendarView_1.0" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hotel_EnhancedPricing">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWPOC1A/Hotel_EnhancedPricing_2.0" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hotel_EnhancedSingleAvail">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWPOC1A/Hotel_EnhancedSingleAvail_2.0" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hotel_MultiAvailability">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWPOC1A/Hotel_MultiAvailability_10.0" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hotel_MultiSingleAvailability">
      <soap:operation soapAction="http://webservices.amadeus.com/1ASIWPOC1A/Hotel_MultiSingleAvailability_10.0" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_2.0" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelAvailability_Service">
    <wsdl:port binding="tns:HotelAvailability_Binding" name="HotelAvailability_Port">
      <soap:address location="https://nodeD1.test.webservices.amadeus.com" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>


<!-- Build Key: 1F8B080000000000000025CD510B82301486E17B7FC5B92C42398E02D99D1898502828787DB2230DE636E612FCF78DBA7DE17BBE9A0D7B0ACA1A086AE135D0E22408CC2F299E531430BC3F7E7DD10E584851482CA07E0C274489988CFDF50EF55FB01E36F66B8424E4196698545AB101724EABE9F720A1F3D6CED0CE505933B10B70E8DAEA189DB203430BC769D937638C79993426B09F698AF56603EB7223A5E9A9B40A3B880CBFD3766FCABB000000 -->