wsdl/prod/Air_RetrieveSeatMapReply_13_1_IA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/SMPRES_13_1_IA" xmlns="http://xml.amadeus.com/SMPRES_13_1_IA" elementFormDefault="qualified">
  <xs:element name="Air_RetrieveSeatMapReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">To respond to a request for seat map information for a specific flight and date.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseDetails" minOccurs="0" type="ResponseAnalysisDetailsTypeI" />
        <xs:element name="errorInformation" minOccurs="0" type="ErrorInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">Specification of the error details</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="warningInformation" minOccurs="0" type="WarningInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">warning informations</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="seatRequestParameters" minOccurs="0" type="SeatRequestParametersTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">selection criteria for a seat map</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="seatmapInformation" minOccurs="0" maxOccurs="5">
          <xs:annotation>
            <xs:documentation xml:lang="en">Describes each air segment with the seat map of their respective aircrafts.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flightDateInformation" type="TravelProductInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Travel product identification (flight for which the seat map is requested).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="seatmapErrorInfo" minOccurs="0" type="ErrorInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of the error details</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="seatmapWarningInfo" minOccurs="0" type="WarningInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">warning informations</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="additionalProductInfo" minOccurs="0" type="AdditionalProductDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Additional product details</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="equipmentInformation" minOccurs="0" type="EquipmentInfoTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Specification of the details of the aircraft</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="cabin" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Seatmap of a cabin.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="compartmentDetails" type="CabinDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">It gives the row where the class starts and where it ends.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="cabinFacilities" minOccurs="0" maxOccurs="9" type="CabinFacilitiesTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specification of the details of the facilities of  a cabin</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="row" minOccurs="0" maxOccurs="999">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Describes seats characteristics and occupation (One occurence per Row)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rowDetails" type="RowDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Row - To specify the individual seat information for seats in a particular row.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="cabinFacility" minOccurs="0" maxOccurs="9" type="CabinFacilitiesTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Specification of the details of the cabin facilities at a certain row.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="freeText" minOccurs="0" maxOccurs="2" type="InteractiveFreeTextTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Pricing and Commercial Description</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="customerCentricData" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Price map per passenger or group of passengers</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dummy" type="DummySegmentTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Separator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="travellerDetails" minOccurs="0" maxOccurs="99" type="TravellerInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Traveller Details</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="seatPrice" maxOccurs="999">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Prices of chargeables seats for a given passenger</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="seatPrice" type="MonetaryInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Seat Price</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="taxDetails" minOccurs="0" type="TaxTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">tax Details</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="rowDetails" maxOccurs="999" type="RowDetailsTypeI_168302S">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Position of the seats by rows, with optional seat occupation at passenger level</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalEquipmentInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify equipment configuration, registration number, and cabin facilities.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fittedConfigurationCode" minOccurs="0" type="AlphaNumericString_Length1To12">
        <xs:annotation>
          <xs:documentation xml:lang="en">Aircraft cabin version identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="airlineDetails" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline Organisation FOR Airline Owner</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalProductDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey additional information concerning an airline flight.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="legDetails" minOccurs="0" type="AdditionalProductTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Additional product details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureStationInfo" minOccurs="0" type="StationInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalStationInfo" minOccurs="0" type="StationInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="travellerTimeDetails" minOccurs="0" type="TravellerTimeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller time details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="facilitiesInformation" minOccurs="0" maxOccurs="10" type="ProductFacilitiesTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Such things as meals or entertrainment on board</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalProductTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Additional details describing a specific means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="equipment" minOccurs="0" type="AlphaNumericString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Aircraft code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfStops" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of en-route stops</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="duration" minOccurs="0" type="NumericInteger_Length4To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Leg duration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="daysOfOperation" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Days of the week the flight operates: 1=Monday to 7=Sunday</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassDesignationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product class, number, and designator which define a cabin in a means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="classDesignator" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of the cabin whose seat map is returned.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingClass" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identify the reservation booking designator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinClass" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin class of service, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="compartmentDesignator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin compartment designator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassSeatRowRangeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the range of rows in a particular cabin class.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" maxOccurs="2" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the first and last row number within a particular cabin class compartment.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the physical layout of a cabin area for seating.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="classDetails" minOccurs="0" type="CabinClassDesignationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin class designation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatRowRange" type="CabinClassSeatRowRangeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the range of rows in a particular cabin class</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinZoneCode" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the physical of a cabin class within a means of transport- lowerdeck-maindeck-upperdeck</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="smokingSeatRowRange" minOccurs="0" type="SmokingAreaSeatRowRangeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the range of rows that allows smoking.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="defaultSeatOccupation" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Describes the general occupation status of seats on a means of transport</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="overwingSeatRowRange" minOccurs="0" type="OverwingSeatRowRangeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the range of rows over the wings of an aircraft</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="columnDetails" minOccurs="0" maxOccurs="12" type="CabinWidthAndColumnDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">List of column designators in this cabin</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinFacilitiesDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information describing a specific area in a means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate the type of cabin facility (e.g. lavatory, galley, etc.).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" minOccurs="0" type="AlphaString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate the location of a cabin facility within a numbered row (e.g. right, etc.).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinFacilitiesTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate facilities within a cabin class or cabin compartment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rowLocation" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Row location qualifier -To indicate the location of a cabin facility . F = front M = middle R = rear.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinFacilityDetails" type="CabinFacilitiesDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information describing a specific area in a means of transport.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherCabinFacilityDetails" minOccurs="0" maxOccurs="8" type="CabinFacilitiesDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information describing a specific area in a means of transport.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinWidthAndColumnDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the status of a column of seats.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seatColumn" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate the column of a seat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Column description - To indicate if the column is along a window or an aisle or between two other columns.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 2-3 character code to specify the marketing airline designator code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatingCompany" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 2-3 character code to specify the operating airline designator code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigurationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the number of seats for a specific class of service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="classDesignator" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin class designator  To indicate cabin class not necessarily an RBD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfSeats" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seats - number of seats</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DummySegmentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To serve the purpose of a mandatory segment at the beginning of a group and to avoid segment collision.</xs:documentation>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="EquipmentInfoTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify configuration details of an aircraft.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinClassDetails" minOccurs="0" maxOccurs="5" type="ConfigurationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of the fitted configuration.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iataAircraftTypeCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">User own or ATA/IATA industry defined aircraft type code (See SSIM, Appendix A, IATA Airline Coding Directory, Chapter 8).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="configVersionDetails" minOccurs="0" type="AdditionalEquipmentInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Additional equipment information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="configVersionDescription" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify an error and whether it occurred at the system or application level.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="processingLevel" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates at which level of processing the error took place.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="code" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">A code assigned by the receiver of a message identifying the error or warning.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the error(s) encountered while processing.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ErrorInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Error information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherErrorDetails" minOccurs="0" maxOccurs="9" type="ErrorInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Error information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type, purpose, and language of free text and whether any action is required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Text Subject Qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company Id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">language</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of seat requested.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinClassDesignator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Allows seat assignment request and response by aircraft cabin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="noSmokingIndicator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Allows seat assignment request and response by smoking/non-smoking zone.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cabinClass" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin Class of service, coded. Allows seat assignment request/response by cabin class.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="compartmentDesignator" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Allows seat assignment request and response by cabin compartment if there are separate cabins (front, rear cabin or upper deck)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatCharacteristic" minOccurs="0" maxOccurs="5" type="AMA_EDICodesetType_Length1to2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Allows seat assignment request/response to provide additional seat detail.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextQualification" minOccurs="0" type="FreeTextQualificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free Text Qualification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trueLocationId" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">A 3 character ATA/IATA airport/city code to specify place of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" maxOccurs="99" type="MonetaryInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Monetary Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OverwingSeatRowRangeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the range of rows in the overwing section of an aircraft.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" maxOccurs="2" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify the first and last row number in the range.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the dates and times associated with a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure date (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalDate" minOccurs="0" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival date (ddmmyy)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalTime" minOccurs="0" type="Time24_HHMM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival time (hhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateVariation" minOccurs="0" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Date variation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductFacilitiesTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of facilities for a product or service by type or description.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Only 2 codes supported by AMADEUS:  'E' for Entertainment  'M' for Meal Service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Can contain a 2 character Meal Service Code if 9932 is 'M'.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product identification details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingClass" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">An operational suffix related to flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="modifier" minOccurs="0" maxOccurs="3" type="AlphaNumericString_Length1To7">
        <xs:annotation>
          <xs:documentation xml:lang="en">Modifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RangeOfRowsDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify row information for a means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seatRowNumber" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat row number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfRows" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of rows</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatColumn" minOccurs="0" maxOccurs="20" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">List of existing seat column designators for this particular row.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseAnalysisDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of query and the processing status associated with this response.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="responseType" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">To which message this is a response (e.g. S for seat map).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusCode" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">STATUS, CODED Processing status is e.g. OK - data follows (O) or OK  - no data follow (P) or non recoverable error (X).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RowCharacteristicsDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the characteristics of a row on a means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rowCharacteristic" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Characteristic which relates to all seats within the specified row number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherRowCharacteristic" minOccurs="0" maxOccurs="8" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Characteristic which relates to all seats within the specified row number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RowDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the individual seat information for seats in a particular row.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seatRowNumber" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ordinal number of the row described in this segment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rowCharacteristicDetails" minOccurs="0" type="RowCharacteristicsDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">List of row characteristics.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatOccupationDetails" minOccurs="0" maxOccurs="12" type="SeatOccupationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">List of the seats with their individual characteristics and occupation status.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RowDetailsTypeI_168302S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the individual seat information for seats in a particular row.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seatRowNumber" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat row number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatOccupationDetails" minOccurs="0" maxOccurs="12" type="SeatOccupationDetailsTypeI_237903C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seat occupation details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeatOccupationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the status of a specific seat.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seatColumn" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Column identifier of the seat.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatOccupation" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate seat availability</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatCharacteristic" minOccurs="0" maxOccurs="38" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Characteristics of the seat: window, aisle, for passenger with infant, facing a bulkhead...</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeatOccupationDetailsTypeI_237903C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the status of a specific seat.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="seatColumn" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Column identifier of the seat.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seatOccupation" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">To indicate seat availability</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeatRequestParametersTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the selection criteria for a seat map request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="genericDetails" minOccurs="0" type="GenericDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Generic details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rangeOfRowsDetails" minOccurs="0" type="RangeOfRowsDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Range of rows details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="processingIndicator" minOccurs="0" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Processing Indicator (data element 7365) is used to indicate seat assignment association in the Advance Seat Assignment and Boarding Pass Request and the Wrap Up Request. The Processing Indicator is used to indicate boarding pass authority/restriction in the Advance Seat Assignment and Boarding Pass Response and the Wrap Up Response.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceNumber" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SmokingAreaSeatRowRangeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the range of rows that allow smoking.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" maxOccurs="2" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specifies the first and last row number within a particular smoking seat row range.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify departure/arrival information concerning a means of transport.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gateDescription" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Gate description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="terminal" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal of arrival</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="concourse" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Concourse of arrival</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a rate, type of tax, and currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rate" minOccurs="0" type="NumericDecimal_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax Rate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="filedAmount" minOccurs="0" type="NumericDecimal_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax Rate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="filedCurrency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="filedType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="conversionRate" minOccurs="0" type="NumericInteger_Length1To18">
        <xs:annotation>
          <xs:documentation xml:lang="en">Monetary Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxQualifier" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Monetary Function</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details relating to tax(es).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax Category</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxDetails" minOccurs="0" maxOccurs="99" type="TaxDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tax Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDate" minOccurs="0" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product Date/Time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPointDetails" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location of departure</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offpointDetails" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location of arrival</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyDetails" minOccurs="0" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightIdentification" minOccurs="0" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product identification details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the given/first name and the title of a traveller and the traveller type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="givenName" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller given name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueCustomerIdentifier" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="infantIndicator" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveler accompanied by infant</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" minOccurs="0" maxOccurs="2" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification code, 2 cases: ID&lt;1 to 51 char free text) or CR&lt;1 to 40 char free text)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a traveler(s) and personal details relating to the traveler(s).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paxDetails" type="TravellerSurnameInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Pax Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaxDetails" minOccurs="0" maxOccurs="99" type="TravellerDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerSurnameInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of the surname of a traveller, the type of traveller, number of travellers per surname and the action to be taken.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Traveller surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of units qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantity" minOccurs="0" type="NumericInteger_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Quantity</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Dates and times relevant to a traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="checkInDateTime" minOccurs="0" type="NumericInteger_Length10To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Check-in date and time (ddmmyyhhmm)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WarningDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a warning error and whether it occurred at the system or application level.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="processingLevel" type="NumericInteger_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Defines the warning at a system level or syntax.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">A code assigned by the receiver of a message identifying the warning.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Text Information related to a cabin class.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WarningInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the warning(s) resulting from processing.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="warningDetails" type="WarningDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the warning message</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherWarningDetails" minOccurs="0" maxOccurs="99" type="WarningDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Details of the subsequent warning message</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length4To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{4,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length10To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{10,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To12">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..12</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is two alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Time24_HHMM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB3810BDF35710BDEC6161596E16DDD6000F6AAC6403D44960AB3703C6441CDB442952CBA1826883FCF70E25B94D8102ED5E84F9A0E6E3BD37D7E56DB929AA72B5BFBB556FF3C55FB3C562F63697D5A90BA4A197F987E545BE5CFC2DAFD7D59F79BECC7351AC8BD8B74857C6A283061507F61F814C5DA570F6445A3C00E12DE7A8851AD529C676399F3F35368306347694D5BE998B87CE698B2B13D49C3046E38E34D7A626519FB0FEB2E56F032A860E45ED35F21352CEBBE4350D3AF6A65CD382EB533BE53A6B39D0F6C11C4F51BD29C676F23EF836188C107A094ECB4BEF0E46730D0356DEB8830F0D44E3DD52760EBA78F2C1FC875A7684C3736DA8B69EBA8092623075B4BDE47F1E8CE61A9964E0723993E766944146C9B7566ED21C24373C7D78449DBD111A0FD0D9781DDA04975607B08442FBEEC1E216FFEDD0D5780FB13E4D19741F7F0B4C74DFDF3C27825EF6CF8F1888B7622BA0452EC3161CB943FF220E4CDFA6B38C994F4C0EFE40E7F073B27E51C0FA1AEC04B9F547CD34AE96BB7FCA62B52BB539401D2BEF2DEDCA6ABF3214C1C54B668AF963E6766B085F30313EBEA1816BDA7DF247AEE58EC32046DF39DB8B06C311273006FBCAA0D5B4F5217E838F17279EABA084E98FB115B36EECA41CF7BF206ABD71F116E348C720B6E07D7C85D0E0270167625C21214AE992F279BE986274E543610DD79E149BB4606AA4152B897BB3284714A9811053DDCFCED426F6D3223180233BE893F1518C35CDA7CA55B19E3F6BB486D70016D04BC65991C6D3AFCF87C57279BE99B1264706A8864B36AE164F64E35D17DB2E5E79AB31A8141062365B8F30FE41D27CBF93D94C8C20A99B42BCEAAF8AFB625F98B05F5CBC634D37609CDADE54029F5AA66B0FB45F95D7AADA7C2ECFF4480808EAFDC5D957DBF5FDA6DC8A96EFC1D089191E711FC9510BB61E4D628CCD0118183054A9E906F938F191CF08E21A5A71A6E967C90DB6ACAD897DB5B8105F0117444F890B050000
-->

