wsdl/prod/AMA_BasicTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.002" id="AMA2009U">
	<xs:annotation>
		<xs:documentation xml:lang="en"> Copyright 2009 Amadeus IT Group SA.
All files in the Amadeus Web services specification are strictly confidential .They may not be reproduced in whole or in part without prior written permission  from Amadeus IT Group SA.</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="ActionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifes an action to take place.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Add-Update">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			Typically used to add an item where it does not exist or to update an item where it does exist.
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Cancel">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			Typically used to cancel an existing item.
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Delete">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			Typically used to remove specified data.
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Add">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			Typically used to add data whether data already exists or not.
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Replace">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			Typically used to overlay existing data.
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength1">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength1to2">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 1 to 2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength4">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 4</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericStringLength1">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericStringLength1to14">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 14</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericStringLength1to19">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 19</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,19}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA(OPEN TRAVEL ALLIANCE) code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AMA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Time24_HHMM">
		<xs:annotation>
			<xs:documentation xml:lang="en">Time format: 24H. All digits are mandatory . Example: from 0000 to 2359</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-1][0-9]|2[0-3])[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Time24_hhmM">
		<xs:annotation>
			<xs:documentation xml:lang="en">Time format: 24H.Only significant digits are mandatory. Example: from 0 to 2359 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-1]?[0-9]|2[0-3])?[0-5]?[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Time12_HHMM">
		<xs:annotation>
			<xs:documentation xml:lang="en">Time format: 12H. All digits are mandatory. Example: from 0000 to 1159</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[0-9]|[0-1])[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Time12_hhmM">
		<xs:annotation>
			<xs:documentation xml:lang="en">Time format: 12H.Only significant digits are mandatory. Example: from 0 to 1159 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0?[0-9]|1[0-1])?[0-5]?[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date_DDMMYY">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date_YYMMDD">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date format: YYMMDD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date_MMDDYY">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date format: YYMMDD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Year_YYYY">
		<xs:annotation>
			<xs:documentation xml:lang="en">Value of the year ex:2003</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-2][0-9][0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Year_YY">
		<xs:annotation>
			<xs:documentation xml:lang="en">Value of the year. All digits are mandatory. Example: 03</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Year_yY">
		<xs:annotation>
			<xs:documentation xml:lang="en">Value of the year. Only significant digits are mandatory. Example: 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]?[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Month_MM">
		<xs:annotation>
			<xs:documentation xml:lang="en">Value of the month. All digits are mandatory. Example:07</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|1[0-2])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Month_mM">
		<xs:annotation>
			<xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0?[1-9]|1[0-2])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Month_AAA">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to identify the Month.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="JAN"/>
			<xs:enumeration value="FEB"/>
			<xs:enumeration value="MAR"/>
			<xs:enumeration value="APR"/>
			<xs:enumeration value="MAY"/>
			<xs:enumeration value="JUN"/>
			<xs:enumeration value="JUL"/>
			<xs:enumeration value="AUG"/>
			<xs:enumeration value="SEP"/>
			<xs:enumeration value="OCT"/>
			<xs:enumeration value="NOV"/>
			<xs:enumeration value="DEC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Day_NN">
		<xs:annotation>
			<xs:documentation xml:lang="en">	Value of the day in the  month.  All digits are mandatory. Example: 07</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Day_nN">
		<xs:annotation>
			<xs:documentation xml:lang="en">	Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Hour_HH">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1][0-9]|2[0-3]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Hour_hH">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]?[0-9]|2[0-3]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Minute_MM">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Minute_mM">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-5]?[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
