wsdl/prod/AmadeusWebServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:aws="http://xml.amadeus.com"
        xmlns:air_multiavailability_7_1="http://xml.amadeus.com/SATRQT_07_1_1A"
        xmlns:air_multiavailabilityreply_7_1="http://xml.amadeus.com/SATRSP_07_1_1A"
        xmlns:command_cryptic_7_3="http://xml.amadeus.com/HSFREQ_07_3_1A"
        xmlns:command_crypticreply_7_3="http://xml.amadeus.com/HSFRES_07_3_1A"
        xmlns:air_sellfromrecommendation_5_2="http://xml.amadeus.com/ITAREQ_05_2_IA"
        xmlns:air_sellfromrecommendationreply_5_2="http://xml.amadeus.com/ITARES_05_2_IA"
        xmlns:pnr_addmultielements_13_2="http://xml.amadeus.com/PNRADD_13_2_1A"
        xmlns:pnr_reply_13_2="http://xml.amadeus.com/PNRACC_13_2_1A"
        xmlns:pnr_reply_11_3="http://xml.amadeus.com/PNRACC_11_3_1A"
        xmlns:queue_moveitem_3_1="http://xml.amadeus.com/QUQMUQ_03_1_1A"
        xmlns:queue_moveitemreply_3_1="http://xml.amadeus.com/QUQMUR_03_1_1A"
        xmlns:security_authenticate_6_1="http://xml.amadeus.com/VLSSLQ_06_1_1A"
        xmlns:security_authenticatereply_6_1="http://xml.amadeus.com/VLSSLR_06_1_1A"
        xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A"
        xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A"
        xmlns:queue_list_3_1="http://xml.amadeus.com/QDQLRQ_03_1_1A"
        xmlns:queue_listreply_3_1="http://xml.amadeus.com/QDQLRR_03_1_1A"
        xmlns:pnr_retrieve_11_3="http://xml.amadeus.com/PNRRET_11_3_1A"
        xmlns:queue_placepnr_3_1="http://xml.amadeus.com/QUQPCQ_03_1_1A"
        xmlns:queue_placepnrreply_3_1="http://xml.amadeus.com/QUQPCR_03_1_1A"
        xmlns:fare_checkrules_7_1="http://xml.amadeus.com/FARQNQ_07_1_1A"
        xmlns:fare_checkrulesreply_7_1="http://xml.amadeus.com/FARQNR_07_1_1A"
        xmlns:fare_sellbyfaresearch_10_2="http://xml.amadeus.com/FSOTBQ_10_2_1A"
        xmlns:fare_sellbyfaresearchreply_10_2="http://xml.amadeus.com/FSOTBR_10_2_1A"
        xmlns:fare_masterpricertravelboardsearch_9_1="http://xml.amadeus.com/FMPTBQ_09_1_1A"
        xmlns:fare_masterpricertravelboardsearchreply_9_1="http://xml.amadeus.com/FMPTBR_09_1_1A"
        xmlns:fare_sellbyfarecalendar_10_2="http://xml.amadeus.com/FSOCAQ_10_2_1A"
        xmlns:fare_sellbyfarecalendarreply_10_2="http://xml.amadeus.com/FSOCAR_10_2_1A"
        xmlns:fare_pricepnrwithbookingclass_13_2="http://xml.amadeus.com/TPCBRQ_13_2_1A"
        xmlns:fare_pricepnrwithbookingclassreply_13_2="http://xml.amadeus.com/TPCBRR_13_2_1A"
        xmlns:ticket_createtstfrompricing_4_1="http://xml.amadeus.com/TAUTCQ_04_1_1A"
        xmlns:ticket_createtstfrompricingreply_4_1="http://xml.amadeus.com/TAUTCR_04_1_1A"
        xmlns:fare_masterpricercalendar_10_2="http://xml.amadeus.com/FMPCAQ_10_2_1A"
        xmlns:fare_masterpricercalendarreply_10_2="http://xml.amadeus.com/FMPCAR_10_2_1A"
        xmlns:fare_infromativepricingwithoutpnr_13_2="http://xml.amadeus.com/TIPNRQ_13_2_1A"
        xmlns:fare_infromativepricingwithoutpnrreply_13_2="http://xml.amadeus.com/TIPNRR_13_2_1A"
        targetNamespace="http://xml.amadeus.com">
    <wsdl:types>
        <xsd:schema targetNamespace="http://xml.amadeus.com">
            <xsd:import namespace="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" schemaLocation="WBS_Session-2.0.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/SATRQT_07_1_1A" schemaLocation="Air_MultiAvailability_07_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/SATRSP_07_1_1A" schemaLocation="Air_MultiAvailabilityReply_07_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/HSFREQ_07_3_1A" schemaLocation="Command_Cryptic_07_3_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/HSFRES_07_3_1A" schemaLocation="Command_CrypticReply_07_3_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/ITAREQ_05_2_IA" schemaLocation="Air_SellFromRecommendation_05_2_IA.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/ITARES_05_2_IA" schemaLocation="Air_SellFromRecommendationReply_05_2_IA.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/PNRADD_13_2_1A" schemaLocation="PNR_AddMultiElements_13_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/PNRACC_13_2_1A" schemaLocation="PNR_Reply_13_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/QUQMUQ_03_1_1A" schemaLocation="Queue_MoveItem_03_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/QUQMUR_03_1_1A" schemaLocation="Queue_MoveItemReply_03_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/VLSSLQ_06_1_1A" schemaLocation="Security_Authenticate_06_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/VLSSLR_06_1_1A" schemaLocation="Security_AuthenticateReply_06_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" schemaLocation="Security_SignOut_04_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" schemaLocation="Security_SignOutReply_04_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/QDQLRQ_03_1_1A" schemaLocation="Queue_List_03_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/QDQLRR_03_1_1A" schemaLocation="Queue_ListReply_03_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/PNRRET_11_3_1A" schemaLocation="PNR_Retrieve_11_3_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/PNRACC_09_1_1A" schemaLocation="PNR_Reply_09_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/PNRACC_11_3_1A" schemaLocation="PNR_Reply_11_3_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/QUQPCQ_03_1_1A" schemaLocation="Queue_PlacePNR_03_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/QUQPCR_03_1_1A" schemaLocation="Queue_PlacePNRReply_03_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FARQNQ_07_1_1A" schemaLocation="Fare_CheckRules_07_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FARQNR_07_1_1A" schemaLocation="Fare_CheckRulesReply_07_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FSOTBQ_10_2_1A" schemaLocation="Fare_SellByFareSearch_10_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FSOTBR_10_2_1A" schemaLocation="Fare_SellByFareSearchReply_10_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FMPTBQ_09_1_1A" schemaLocation="Fare_MasterPricerTravelBoardSearch_09_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FMPTBR_09_1_1A" schemaLocation="Fare_MasterPricerTravelBoardSearchReply_09_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FSOCAQ_10_2_1A" schemaLocation="Fare_SellByFareCalendar_10_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FSOCAR_10_2_1A" schemaLocation="Fare_SellByFareCalendarReply_10_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/TPCBRQ_13_2_1A" schemaLocation="Fare_PricePNRWithBookingClass_13_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/TPCBRR_13_2_1A" schemaLocation="Fare_PricePNRWithBookingClassReply_13_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/TAUTCQ_04_1_1A" schemaLocation="Ticket_CreateTSTFromPricing_04_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/TAUTCR_04_1_1A" schemaLocation="Ticket_CreateTSTFromPricingReply_04_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FMPCAQ_10_2_1A" schemaLocation="Fare_MasterPricerCalendar_10_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FMPCAR_10_2_1A" schemaLocation="Fare_MasterPricerCalendarReply_10_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/TIPNRQ_13_2_1A" schemaLocation="Fare_InformativePricingWithoutPNR_13_2_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/TIPNRR_13_2_1A" schemaLocation="Fare_InformativePricingWithoutPNRReply_13_2_1A.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Session" xmlns:ns0="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd">
        <wsdl:part name="Session" element="ns0:Session"/>
    </wsdl:message>
    <wsdl:message name="Air_MultiAvailability_7_1">
        <wsdl:part name="Air_MultiAvailability_7_1" element="air_multiavailability_7_1:Air_MultiAvailability"/>
    </wsdl:message>
    <wsdl:message name="Air_MultiAvailabilityReply_7_1">
        <wsdl:part name="Air_MultiAvailabilityReply_7_1" element="air_multiavailabilityreply_7_1:Air_MultiAvailabilityReply"/>
    </wsdl:message>
    <wsdl:message name="Command_Cryptic_7_3">
        <wsdl:part name="Command_Cryptic_7_3" element="command_cryptic_7_3:Command_Cryptic"/>
    </wsdl:message>
    <wsdl:message name="Command_CrypticReply_7_3">
        <wsdl:part name="Command_CrypticReply_7_3" element="command_crypticreply_7_3:Command_CrypticReply"/>
    </wsdl:message>
    <wsdl:message name="Air_SellFromRecommendation_5_2">
        <wsdl:part name="Air_SellFromRecommendation_5_2" element="air_sellfromrecommendation_5_2:Air_SellFromRecommendation"/>
    </wsdl:message>
    <wsdl:message name="Air_SellFromRecommendationReply_5_2">
        <wsdl:part name="Air_SellFromRecommendationReply_5_2" element="air_sellfromrecommendationreply_5_2:Air_SellFromRecommendationReply"/>
    </wsdl:message>
    <wsdl:message name="PNR_AddMultiElements_13_2">
        <wsdl:part name="PNR_AddMultiElements_13_2" element="pnr_addmultielements_13_2:PNR_AddMultiElements"/>
    </wsdl:message>
    <wsdl:message name="PNR_Reply_13_2">
        <wsdl:part name="PNR_Reply_13_2" element="pnr_reply_13_2:PNR_Reply"/>
    </wsdl:message>
    <wsdl:message name="PNR_Reply_9_1">
        <wsdl:part name="PNR_Reply_9_1" element="pnr_reply_9_1:PNR_Reply"/>
    </wsdl:message>
    <wsdl:message name="PNR_Reply_11_3">
        <wsdl:part name="PNR_Reply_11_3" element="pnr_reply_11_3:PNR_Reply"/>
    </wsdl:message>
    <wsdl:message name="Queue_MoveItem_3_1">
        <wsdl:part name="Queue_MoveItem_3_1" element="queue_moveitem_3_1:Queue_MoveItem"/>
    </wsdl:message>
    <wsdl:message name="Queue_MoveItemReply_3_1">
        <wsdl:part name="Queue_MoveItemReply_3_1" element="queue_moveitemreply_3_1:Queue_MoveItemReply"/>
    </wsdl:message>
    <wsdl:message name="Security_Authenticate_6_1">
        <wsdl:part name="Security_Authenticate_6_1" element="security_authenticate_6_1:Security_Authenticate"/>
    </wsdl:message>
    <wsdl:message name="Security_AuthenticateReply_6_1">
        <wsdl:part name="Security_AuthenticateReply_6_1" element="security_authenticatereply_6_1:Security_AuthenticateReply"/>
    </wsdl:message>
    <wsdl:message name="Security_SignOut_4_1">
        <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut"/>
    </wsdl:message>
    <wsdl:message name="Security_SignOutReply_4_1">
        <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply"/>
    </wsdl:message>
    <wsdl:message name="Queue_List_3_1">
        <wsdl:part name="Queue_List_3_1" element="queue_list_3_1:Queue_List"/>
    </wsdl:message>
    <wsdl:message name="Queue_ListReply_3_1">
        <wsdl:part name="Queue_ListReply_3_1" element="queue_listreply_3_1:Queue_ListReply"/>
    </wsdl:message>
    <wsdl:message name="PNR_Retrieve_11_3">
        <wsdl:part name="PNR_Retrieve_11_3" element="pnr_retrieve_11_3:PNR_Retrieve"/>
    </wsdl:message>
    <wsdl:message name="Queue_PlacePNR_3_1">
        <wsdl:part name="Queue_PlacePNR_3_1" element="queue_placepnr_3_1:Queue_PlacePNR"/>
    </wsdl:message>
    <wsdl:message name="Queue_PlacePNRReply_3_1">
        <wsdl:part name="Queue_PlacePNRReply_3_1" element="queue_placepnrreply_3_1:Queue_PlacePNRReply"/>
    </wsdl:message>
    <wsdl:message name="Fare_CheckRules_7_1">
        <wsdl:part name="Fare_CheckRules_7_1" element="fare_checkrules_7_1:Fare_CheckRules"/>
    </wsdl:message>
    <wsdl:message name="Fare_CheckRulesReply_7_1">
        <wsdl:part name="Fare_CheckRulesReply_7_1" element="fare_checkrulesreply_7_1:Fare_CheckRulesReply"/>
    </wsdl:message>
    <wsdl:message name="Fare_InformativePricingWithoutPNR_13_2">
        <wsdl:part name="Fare_InformativePricingWithoutPNR_13_2" element="fare_infromativepricingwithoutpnr_13_2:Fare_InformativePricingWithoutPNR"/>
    </wsdl:message>
    <wsdl:message name="Fare_InformativePricingWithoutPNRReply_13_2">
        <wsdl:part name="Fare_InformativePricingWithoutPNRReply_13_2" element="fare_infromativepricingwithoutpnrreply_13_2:Fare_InformativePricingWithoutPNRReply"/>
    </wsdl:message>
    <wsdl:message name="Fare_SellByFareSearch_10_2">
        <wsdl:part name="Fare_SellByFareSearch_10_2" element="fare_sellbyfaresearch_10_2:Fare_SellByFareSearch"/>
    </wsdl:message>
    <wsdl:message name="Fare_SellByFareSearchReply_10_2">
        <wsdl:part name="Fare_SellByFareSearchReply_10_2" element="fare_sellbyfaresearchreply_10_2:Fare_SellByFareSearchReply"/>
    </wsdl:message>
    <wsdl:message name="Fare_MasterPricerTravelBoardSearch_9_1">
        <wsdl:part name="Fare_MasterPricerTravelBoardSearch_9_1" element="fare_masterpricertravelboardsearch_9_1:Fare_MasterPricerTravelBoardSearch"/>
    </wsdl:message>
    <wsdl:message name="Fare_MasterPricerTravelBoardSearchReply_9_1">
        <wsdl:part name="Fare_MasterPricerTravelBoardSearchReply_9_1" element="fare_masterpricertravelboardsearchreply_9_1:Fare_MasterPricerTravelBoardSearchReply"/>
    </wsdl:message>
    <wsdl:message name="Fare_SellByFareCalendar_10_2">
        <wsdl:part name="Fare_SellByFareCalendar_10_2" element="fare_sellbyfarecalendar_10_2:Fare_SellByFareCalendar"/>
    </wsdl:message>
    <wsdl:message name="Fare_SellByFareCalendarReply_10_2">
        <wsdl:part name="Fare_SellByFareCalendarReply_10_2" element="fare_sellbyfarecalendarreply_10_2:Fare_SellByFareCalendarReply"/>
    </wsdl:message>
    <wsdl:message name="Fare_PricePNRWithBookingClass_13_2">
        <wsdl:part name="Fare_PricePNRWithBookingClass_13_2" element="fare_pricepnrwithbookingclass_13_2:Fare_PricePNRWithBookingClass"/>
    </wsdl:message>
    <wsdl:message name="Fare_PricePNRWithBookingClassReply_13_2">
        <wsdl:part name="Fare_PricePNRWithBookingClassReply_13_2" element="fare_pricepnrwithbookingclassreply_13_2:Fare_PricePNRWithBookingClassReply"/>
    </wsdl:message>
    <wsdl:message name="Ticket_CreateTSTFromPricing_4_1">
        <wsdl:part name="Ticket_CreateTSTFromPricing_4_1" element="ticket_createtstfrompricing_4_1:Ticket_CreateTSTFromPricing"/>
    </wsdl:message>
    <wsdl:message name="Ticket_CreateTSTFromPricingReply_4_1">
        <wsdl:part name="Ticket_CreateTSTFromPricingReply_4_1" element="ticket_createtstfrompricingreply_4_1:Ticket_CreateTSTFromPricingReply"/>
    </wsdl:message>
    <wsdl:message name="Fare_MasterPricerCalendar_10_2">
        <wsdl:part name="Fare_MasterPricerCalendar_10_2" element="fare_masterpricercalendar_10_2:Fare_MasterPricerCalendar"/>
    </wsdl:message>
    <wsdl:message name="Fare_MasterPricerCalendarReply_10_2">
        <wsdl:part name="Fare_MasterPricerCalendarReply_10_2" element="fare_masterpricercalendarreply_10_2:Fare_MasterPricerCalendarReply"/>
    </wsdl:message>
    <wsdl:portType name="AmadeusWebServicesPT">
        <wsdl:operation name="Air_MultiAvailability">
            <wsdl:input message="aws:Air_MultiAvailability_7_1"/>
            <wsdl:output message="aws:Air_MultiAvailabilityReply_7_1"/>
        </wsdl:operation>
        <wsdl:operation name="Command_Cryptic">
            <wsdl:input message="aws:Command_Cryptic_7_3"/>
            <wsdl:output message="aws:Command_CrypticReply_7_3"/>
        </wsdl:operation>
        <wsdl:operation name="Air_SellFromRecommendation">
            <wsdl:input message="aws:Air_SellFromRecommendation_5_2"/>
            <wsdl:output message="aws:Air_SellFromRecommendationReply_5_2"/>
        </wsdl:operation>
        <wsdl:operation name="PNR_AddMultiElements">
            <wsdl:input message="aws:PNR_AddMultiElements_13_2"/>
            <wsdl:output message="aws:PNR_Reply_13_2"/>
        </wsdl:operation>
        <wsdl:operation name="Queue_MoveItem">
            <wsdl:input message="aws:Queue_MoveItem_3_1"/>
            <wsdl:output message="aws:Queue_MoveItemReply_3_1"/>
        </wsdl:operation>
        <wsdl:operation name="Security_Authenticate">
            <wsdl:input message="aws:Security_Authenticate_6_1"/>
            <wsdl:output message="aws:Security_AuthenticateReply_6_1"/>
        </wsdl:operation>
        <wsdl:operation name="Security_SignOut">
            <wsdl:input message="aws:Security_SignOut_4_1"/>
            <wsdl:output message="aws:Security_SignOutReply_4_1"/>
        </wsdl:operation>
        <wsdl:operation name="Queue_List">
            <wsdl:input message="aws:Queue_List_3_1"/>
            <wsdl:output message="aws:Queue_ListReply_3_1"/>
        </wsdl:operation>
        <wsdl:operation name="PNR_Retrieve">
            <wsdl:input message="aws:PNR_Retrieve_11_3"/>
            <wsdl:output message="aws:PNR_Reply_11_3"/>
        </wsdl:operation>
        <wsdl:operation name="Queue_PlacePNR">
            <wsdl:input message="aws:Queue_PlacePNR_3_1"/>
            <wsdl:output message="aws:Queue_PlacePNRReply_3_1"/>
        </wsdl:operation>
        <wsdl:operation name="Fare_CheckRules">
            <wsdl:input message="aws:Fare_CheckRules_7_1"/>
            <wsdl:output message="aws:Fare_CheckRulesReply_7_1"/>
        </wsdl:operation>
        <wsdl:operation name="Fare_InformativePricingWithoutPNR">
            <wsdl:input message="aws:Fare_InformativePricingWithoutPNR_13_2"/>
            <wsdl:output message="aws:Fare_InformativePricingWithoutPNRReply_13_2"/>
        </wsdl:operation>
        <wsdl:operation name="Fare_SellByFareSearch">
            <wsdl:input message="aws:Fare_SellByFareSearch_10_2"/>
            <wsdl:output message="aws:Fare_SellByFareSearchReply_10_2"/>
        </wsdl:operation>
        <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
            <wsdl:input message="aws:Fare_MasterPricerTravelBoardSearch_9_1"/>
            <wsdl:output message="aws:Fare_MasterPricerTravelBoardSearchReply_9_1"/>
        </wsdl:operation>
        <wsdl:operation name="Fare_SellByFareCalendar">
            <wsdl:input message="aws:Fare_SellByFareCalendar_10_2"/>
            <wsdl:output message="aws:Fare_SellByFareCalendarReply_10_2"/>
        </wsdl:operation>
        <wsdl:operation name="Fare_PricePNRWithBookingClass">
            <wsdl:input message="aws:Fare_PricePNRWithBookingClass_13_2"/>
            <wsdl:output message="aws:Fare_PricePNRWithBookingClassReply_13_2"/>
        </wsdl:operation>
        <wsdl:operation name="Ticket_CreateTSTFromPricing">
            <wsdl:input message="aws:Ticket_CreateTSTFromPricing_4_1"/>
            <wsdl:output message="aws:Ticket_CreateTSTFromPricingReply_4_1"/>
        </wsdl:operation>
        <wsdl:operation name="Fare_MasterPricerCalendar">
            <wsdl:input message="aws:Fare_MasterPricerCalendar_10_2"/>
            <wsdl:output message="aws:Fare_MasterPricerCalendarReply_10_2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AmadeusWebServicesBinding" type="aws:AmadeusWebServicesPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Air_MultiAvailability">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/SATRQT_07_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Command_Cryptic">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/HSFREQ_07_3_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Air_SellFromRecommendation">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/ITAREQ_05_2_IA"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PNR_AddMultiElements">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/PNRADD_13_2_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Queue_MoveItem">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/QUQMUQ_03_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Security_Authenticate">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/VLSSLQ_06_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Security_SignOut">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/VLSSOQ_04_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Queue_List">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/QDQLRQ_03_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PNR_Retrieve">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/PNRRET_11_3_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Queue_PlacePNR">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/QUQPCQ_03_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_CheckRules">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/FARQNQ_07_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_InformativePricingWithoutPNR">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/TIPNRQ_13_2_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_SellByFareSearch">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/FSOTBQ_10_2_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/FMPTBQ_12_4_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_SellByFareCalendar">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/FSOCAQ_10_2_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_PricePNRWithBookingClass">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/TPCBRQ_13_2_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Ticket_CreateTSTFromPricing">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/TAUTCQ_04_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Fare_MasterPricerCalendar">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIWASLXNX/FMPCAQ_10_2_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AmadeusWebServices">
        <wsdl:port name="AmadeusWebServicesPort" binding="aws:AmadeusWebServicesBinding">
            <soap:address location="https://production.webservices.amadeus.com"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
