wsdl/prod/DocRefund_InitRefund_13_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TRFSRQ_13_1_1A" xmlns="http://xml.amadeus.com/TRFSRQ_13_1_1A" elementFormDefault="qualified">
  <xs:element name="DocRefund_InitRefund">
    <xs:annotation>
      <xs:documentation xml:lang="en">The aim of the message is to fetch the database to find informations of a refundable document</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ticketNumberGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="documentNumberDetails" type="TicketNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">primary ticket number of document to refund</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="paperCouponOfDocNumber" minOccurs="0" maxOccurs="16" type="CouponInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To select Paper Coupon in the Refund query with Document Number</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="actionDetails" minOccurs="0" type="StatusDetails_184273S" />
        <xs:element name="currencyOverride" minOccurs="0" type="CurrenciesType" />
        <xs:element name="itemNumberGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sequenceNumber" type="ItemNumberTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">sequence number of the document to refund</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="paperCouponOfItemNumber" minOccurs="0" maxOccurs="16" type="CouponInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To select Paper Coupon in the Refund query with Item Number</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="stockProviderDetails" minOccurs="0" type="StockRangeInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">stock provider of the document(s) to refund</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="targetOfficeDetails" minOccurs="0" type="AdditionalBusinessSourceInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">office the document to reufnd belongs to</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="transactionContext" minOccurs="0" type="TransactionContextType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalBusinessSourceInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify ownership and creator of a PNR</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorDetails" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Will be used to convey the Office ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpnNumber" minOccurs="0" type="AlphaNumericString_Length1To6" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails" type="CouponInformationDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrenciesType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify currencies used in the transaction and relevant details for the rate of exchange.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstCurrencyDetails" minOccurs="0" type="CurrencyDetailsTypeU" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyDetailsTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">The usage to which a currency relates</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="currencyIsoCode" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Goods identification for a specified source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">document sequence number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">value used: FROM or TO</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify an item number</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="itemNumberDetails" type="ItemNumberIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">range of sequence numbers</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inHouseIdentification1" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Will be used to convey the Office ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetails_184273S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a status and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusDetails" type="StatusDetails">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherDetails" minOccurs="0" maxOccurs="98" type="StatusDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Other Status Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetails">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StockRangeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys ticket stock range information. A stock range is identified by a stock type, a range number and an allocation status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="stockTypeCode" minOccurs="0" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">The short 1 or 2-letter code corresponding to the stock type, e.g. "A" for OPTAT.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stockProvider" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The stock provider (usually an airline). It is only specified when the stock is not neutral.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">document number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">document identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionContextType">
    <xs:sequence>
      <xs:element name="xmlSize" type="NumericInteger_Length1To15" />
      <xs:element name="xmlContent" minOccurs="0" type="AlphaNumericString_Length1To99999" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To99999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..99999</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="99999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095535D6FD330147DF7AFB078E101354DD904A2921FC2920E24DA8DAE7BAB5479F66D6BE1D8C1D79916A6FD77AE93940D09097889EE87733FCE39F7B25A55EB625395BBAB95789BCFCE27F9FBC9DB0F7CD3026AD9F1D9F93C3F9BCFDEF3CBE5E64D9ECFF39C15CB22760DE0C25870B2064181DD4789466D52387B40CDEE24C28A72D84805E21863339F4E1F6A9BC95A6A683153BE9EB2BBD6690BA509628A10A371079C6AA390A923A86F37F4ADA588A105A6BC067A82C27997BCBA0647DE98AB1BE9BAD44EB8D65A0A345D30876314AF8AA11DBF0EBE0906A20C1D974EF30BEFF646530D232DFFECF63ED4321AEFE6BC75B28D471FCC0FD0BC45E89F6B83CA7A6C03708CC1A8683B4EFFDC194D35324EB8E57CC24FCD30931926DF5ABE4E73205FD3F4E11E74F68A69D8CBD6C6CBD024B8B4D84B8BC0B46FEF2CDCC0F7169C826B19D571CC80FBF84F60827B7EF398087ADA3DDE4340DA8AAC0016A80C59F2401DBA27B627FAD6AD25CC7C62B2F77B3AFB9F93F59702D62B6947C8AD3F68A2B19C6F3F5545B9ADB4D94B1537DE5BDC569B5D69304A172F8829E28F98DB2E65F80689F1E10DF65CE3F68B3F502D77E80731FACAD98ED5100E3082D1DB0B0356E38D0FF1177CB438D25C05264C7F8F95C4BAB1A372DC7F41D478E3E20AE240472FB6E07D7C8150EF2701676C5821218AE990F2693E1B63B8F0A1B0866A8F8A4D5A300AB02425516F12E58022D632C454F7D6196562372E128374687B7D123E82B0C6E95879532CA78F1AACA1352409E829A32C4BE3E997E74362B938DDCC5093223D54FD251BA7D803DA78D5C6A68D0B6F350491028C4D26CB01C6D7C8CDF39D4C266C0049CC0AF6A2BF28AE8B5DE9D51AF674DBBBD9D9B92269D7D238B1AE16B7AB92C14343C4ED24EECAEA526CD6B7D589282E0348F1EEDDC9A7E4E266FD95357419068FC4F5C0C040939891756F1277E26C8048F6688AE7F69F9D8983C94E8CFD393B8A40CCCED84FE22F651211050000
-->

