wsdl/prod/PNR_Split_11_3_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PNRSPL_11_3_1A" xmlns="http://xml.amadeus.com/PNRSPL_11_3_1A" elementFormDefault="qualified">
  <xs:element name="PNR_Split">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR SPLIT
This message is used for the PNR split
</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reservationInfo" minOccurs="0" type="ReservationControlInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">reservation information</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="splitDetails" type="SplitPNRType">
          <xs:annotation>
            <xs:documentation xml:lang="en">split details</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">RESERVATION CONTROL INFORMATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">profile or PNR record locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Reservation control information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">record information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SplitPNRDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">determine the element to split</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ELEMENT TYPE - PT for Passenger Tattoo reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantity" minOccurs="0" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">number of unassigned name to split</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tattoo" minOccurs="0" maxOccurs="49" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SplitPNRDetailsType_6435C">
    <xs:annotation>
      <xs:documentation xml:lang="en">determine the element to split</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ELEMENT TYPE - ST for Segment Tattoo reference number OT for Other Tattoo reference number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantity" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">quantity of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tattoo" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SplitPNRType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Split specified elements out of Parent PNR to new Associated PNR.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="passenger" type="SplitPNRDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">passenger to split</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherElement" minOccurs="0" maxOccurs="999" type="SplitPNRDetailsType_6435C">
        <xs:annotation>
          <xs:documentation xml:lang="en">other element to split</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095934D6FDB300C86EFFA15C22E3B0CF1475B605B001DDC262D06346990A4B701866231895059F244B9AB57F4BF8FB29DB63B6DBB24222593D2F3BEBC992FE7EB623B9F95774B7196E51793EC6C929FF3EDB1F5A864C7B3AFD3FCF3F4E28CDF2CB69FB26C9A65AC5814A16B00AFB5012B6B1094282F25EA6A1BD3C9132AB693084BDAC34656208E2134D3347DAA4D226BA9A0C5A47275CA76AD550666DA8B1421046D0F982A5D21AB8E503D6CE8B79622F81658E514D01114D6D918D535588AC6BDBA91B68BED846D8DA144D3797D3806F1A118DAF195778DD710A4EFB8B48A5F39BBD78A6A6869F837BB77BE96413B3BE5AD956D383AAF7F81E22D427F5C69AC8CC3D603C7E075154CC7E99B9D565423E1042EE3137E6A86894C30C6C6F075BC07F235DDDE3F824A3E30057BD99A70E39B884B89BD34084CB9766760033F5AB015AC64A88EE30ED8CB7F8209F6EDCC7314E8A57C7E048FF42A5A7930406568250FD4A17B617B926FDD1A62E6A2927DDCCBD97F1C577F29605C25CD88DCB8838A327AA85D80B4FE99D263F55E56219D0FFF5BE70CA6F36D39D318A40D57A41A69492AA60BE91F20AA3F9CC15E77FC7EEB0E54D71EFA4B6975674DC76AF00718C1F4EB6B0D46E1C6F9F08A922020DDB1C0C8F7CFDC8C1CA0CDE822FB5FB81AA76D584218A4E98DE79D0BEF68F5713473C2862744BA18A72A4BB37CCCE1B5F385D1547B746FF485AE0067E42AEA4D061D88622D7D8875EFADAE74E8C687042F2D9ADEABC44710F75760DB62913E2B309A9E21C94C2F09EDB2783DF57E94C83857A7F9196A52A647D54FB5B6157B4213EEDAD0B4E1DA19055EC4046393C962C0F811B97E9B99C9840D90445EB077FD45B12ACAD5725DE66717BBC93959BC96DA8AD53267F0D49062A5C47236BF11DBF5FDFCA410971EA4C82F4E311D5F6F56B7ACA1F1D078249107F4833EE29C568F3A8A26F2818DEC31C6CFCA4D637460277DC4CAFA2133CA2CB22FEC3788E7DDB000050000
-->

