wsdl/DocRefund_CalculateRefund_12_1_IA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/TARFRQ_12_1_IA" xmlns="http://xml.amadeus.com/TARFRQ_12_1_IA" elementFormDefault="qualified">
  <xs:element name="DocRefund_CalculateRefund">
    <xs:annotation>
      <xs:documentation xml:lang="en">This message enables airlines, airline sevice suppliers and their trading partners to request the automatic calculation of a ticket refund.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageAction" type="MessageActionDetailsTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">This field is used to specify if the request is done with ticket data (no call to ticket server to retrieve the E-ticket) or without ticket data (call to ticket server to retrieve e-ticket).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="princingOptionsGroup" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">Pricing options group - city override, currency override, corporate fare</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pricingOptions" type="PricingTicketingDetailsTypeI_66537S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">City override - Point of sale and Point of issuance (used for backpricing).</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="currencyOverride" minOccurs="0" type="ConversionRateTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Currency Override option</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="corporateFare" minOccurs="0" type="CorporateFareInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Corporate Fare</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="passengerInfoGroup" minOccurs="0" maxOccurs="9">
          <xs:annotation>
            <xs:documentation xml:lang="en">Passenger Information</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="passengerInfo" type="SpecificTravellerTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger Data</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ptcOption" minOccurs="0" maxOccurs="4" type="FareInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger Type Code override</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ticketInfoPerPaxGroup" maxOccurs="9">
          <xs:annotation>
            <xs:documentation xml:lang="en">Group of ticket information. One group per passenger (one ticket per passenger).</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="passengerReference" type="SegmentRepetitionControlTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger Reference Number the ticket data are associated to (referenceNumber in Gr3.STD)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ticketingAgencyId" minOccurs="0" type="UserIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Identification of the ticketing agency</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="additionalTicketingAgencyInfo" minOccurs="0" type="AdditionalBusinessSourceInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Additional Ticketing agency information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ptcInfo" minOccurs="0" type="FareInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger Type Code the ticket has been priced with.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="actionDetails" minOccurs="0" type="StatusTypeI" />
              <xs:element name="monetaryInfo" minOccurs="0" type="MonetaryInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Monetary information of the ticket</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="taxInfo" minOccurs="0" maxOccurs="5" type="TaxTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Tax information of the ticket</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="interactiveFreeText" minOccurs="0" maxOccurs="9" type="InteractiveFreeTextTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Ticket free text information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="formOfPayment" minOccurs="0" type="FormOfPaymentTypeI_67087S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Ticket Form of Payment</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="tourCodeInfo" minOccurs="0" type="TourInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Ticket tour code</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ticketNumberGroup" maxOccurs="4">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Ticket information.  One group per ticket. Up to 4 conjonctive tickets for a passenger.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ticketNumberInfo" type="TicketNumberTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Ticket number.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="issueIdentifier" minOccurs="0" type="SpecificDataInformationTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Issue Identifier - First Issue or Reissue</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ticketingDetails" minOccurs="0" type="PricingTicketingDetailsTypeI_67043S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Ticketing information</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="couponInfoGroup" minOccurs="0" maxOccurs="4">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">If MSG = 135 (refund request with ticket data) : Group of coupon details. Up to 4 coupons per ticket. If MSG = 136 (refund request with ticket numbner only) : Coupon selection in case of paper ticket refund.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="couponInfo" type="CouponInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Coupon information - number and status</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="segmentInfo" minOccurs="0" type="TravelProductInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Segment information - origin, destination, flight number, ...</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="couponPricingSubsequent" minOccurs="0" type="PricingTicketingSubsequentTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Coupon pricing information - fare basis and additional info</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="couponDateTimeInfo" minOccurs="0" type="DateAndTimeInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">NVA and NVB dates</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ticketingDetails" minOccurs="0" type="PricingTicketingDetailsTypeI" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="feeGroup" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Ob fee group</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="feeTypeInfo" type="SelectionDetailsTypeI">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Fee Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="feeSubGroup" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Fee Breakdown group</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="feeSubType" type="SpecificDataInformationTypeI_67068S" />
                          <xs:element name="feeMonetaryInfo" type="MonetaryInformationTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Fee monetary info</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="feeFormOfPayment" minOccurs="0" type="FormOfPaymentTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Fee Form of Payment</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="feeTaxes" minOccurs="0" type="TaxTypeI">
                            <xs:annotation>
                              <xs:documentation xml:lang="en">Taxes applicable on a fee</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AdditionalBusinessSourceInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify ownership and creator of a PNR</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceType" minOccurs="0" type="SourceTypeDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">SOURCE TYPE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationDetails" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">LOCATION</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Country code of the system location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="systemCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationNumbersTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Number to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" type="AlphaNumericString_Length1To15" />
      <xs:element name="otherIdentifier" minOccurs="0" type="AlphaNumericString_Length1To15" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="operatingCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="otherCompany" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the conversion rate and the monetary amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="conversionType" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="rateType" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConversionRateTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details of a conversion rate related to an amount.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="conversionRateDetails" type="ConversionRateDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorporateFareIdentifiersType">
    <xs:sequence>
      <xs:element name="fareQualifier" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="identifyNumber" minOccurs="0" maxOccurs="20" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CorporateFareInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify corporate fare information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="corporateCode" maxOccurs="20" type="CorporateFareIdentifiersType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Corporate code to be used for backpricing and refund calculation</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the coupon number, status, value, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cpnNumber" minOccurs="0" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon number (in the ticket)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cpnStatus" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cpnExchangeMedia" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouponInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify data specific to a value (flight) coupon.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="couponDetails" type="CouponInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coupon information - number and status</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify specific data and a quantity related to the data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataTypeInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of data to be sent and to qualify the data when required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataTypeInformationTypeI_104995C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of data to be sent and to qualify the data when required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3" />
      <xs:element name="statusEvent" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifier" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="date" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndTimeInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide date and time details relative to flight movements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateAndTimeDetails" minOccurs="0" maxOccurs="2" type="DateAndTimeDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FareInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify fare details.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="valueQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Use to store a PTC for a group of passengers.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentDetailsTypeI_105020C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the form of payment type, amounts, approval codes, and other related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To10" />
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="creditCardNumber" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="expiryDate" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="approvalCode" minOccurs="0" type="AlphaNumericString_Length1To17" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPaymentDetails" type="FormOfPaymentDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOfPaymentTypeI_67087S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey details describing the form of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="formOfPaymentDetails" type="FormOfPaymentDetailsTypeI_105020C" />
      <xs:element name="otherFormOfPayment" minOccurs="0" maxOccurs="5" type="FormOfPaymentDetailsTypeI_105020C" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextQualificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type, purpose, and language of free text and whether any action is required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="informationType" minOccurs="0" type="AlphaNumericString_Length1To4" />
      <xs:element name="status" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InteractiveFreeTextTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide free text information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextQualification" minOccurs="0" type="FreeTextQualificationTypeI" />
      <xs:element name="freeText" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To70" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a location and related country.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="city" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trueLocationId" minOccurs="0" type="AlphaNumericString_Length1To25" />
      <xs:element name="trueLocation" minOccurs="0" type="AlphaNumericString_Length1To17" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarriageControlDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify details concerning the marriage status of travel product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="relation" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="marriageIdentifier" minOccurs="0" type="NumericInteger_Length1To10" />
      <xs:element name="lineNumber" minOccurs="0" type="NumericInteger_Length1To6" />
      <xs:element name="otherRelation" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="carrierCode" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunctionDetails" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify the type of request</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the type and function of a message or part of a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunction" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3" />
      <xs:element name="amount" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="location" minOccurs="0" type="AlphaNumericString_Length1To25" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsTypeI" />
      <xs:element name="otherMonetaryDetails" minOccurs="0" maxOccurs="19" type="MonetaryInformationDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originatorId" minOccurs="0" type="NumericInteger_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">ATA/IATA Id number or pseudo IATA number or ERSP.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification1" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">First In-House Identifier. Office/Agency code assigned by the reservation system. Office Id in Amadeus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification2" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second In-House Identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inHouseIdentification3" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Third in-house identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey pricing and date information related to a ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="priceTicketDetails" minOccurs="0" type="PricingTicketingInformationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingDetailsTypeI_66537S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey pricing and date information related to a ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productDateTimeDetails" minOccurs="0" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">System date override option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationDetails" minOccurs="0" type="LocationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Point of Sale override option</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherLocationDetails" minOccurs="0" type="LocationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Point of ticketing override option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingDetailsTypeI_67043S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey pricing and date information related to a ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="productDateTimeDetails" minOccurs="0" type="ProductDateTimeTypeI_104948C" />
      <xs:element name="companyNumberDetails" minOccurs="0" type="CompanyIdentificationNumbersTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Validating Carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationDetails" minOccurs="0" type="LocationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Issuance city</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify indicators related to pricing and ticketing.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicators" minOccurs="0" maxOccurs="30" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricingTicketingSubsequentTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey additional information related to a ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fareBasisDetails" minOccurs="0" type="RateTariffClassInformationTypeI" />
      <xs:element name="fareValue" minOccurs="0" type="NumericDecimal_Length1To18" />
      <xs:element name="priceType" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the dates and times associated with a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI_104361C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the dates and times associated with a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="departureTime" minOccurs="0" type="NumericInteger_Length1To4" />
      <xs:element name="arrivalDate" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="arrivalTime" minOccurs="0" type="NumericInteger_Length1To4" />
      <xs:element name="dateVariation" minOccurs="0" type="NumericInteger_Length1To1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI_104948C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the dates and times associated with a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Issuance date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureTime" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Issuance time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To35" />
      <xs:element name="bookingClass" minOccurs="0" type="AlphaNumericString_Length1To17" />
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="modifier" minOccurs="0" maxOccurs="3" type="AlphaNumericString_Length1To7" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional characteristics of a product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightIndicator" maxOccurs="9" type="AlphaNumericString_Length1To6" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateTariffClassInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the current and/or original fare basis code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rateTariffClass" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="rateTariffIndicator" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="otherRateTariffClass" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="otherRateTariffIndicator" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SegmentRepetitionControlDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Information about the number of selection segments to be processed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantity" minOccurs="0" type="NumericInteger_Length1To15" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SegmentRepetitionControlTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the number of segment group repetitions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="segmentControlDetails" minOccurs="0" type="SegmentRepetitionControlDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SourceTypeDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of source.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sourceQualifier1" type="AlphaNumericString_Length1To3" />
      <xs:element name="sourceQualifier2" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificDataInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify miscellaneous data by first identifying the type of data to be sent and then the actual data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataTypeInformation" type="DataTypeInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Issue Identifier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificDataInformationTypeI_67068S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify miscellaneous data by first identifying the type of data to be sent and then the actual data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dataTypeInformation" type="DataTypeInformationTypeI_104995C" />
      <xs:element name="dataInformation" minOccurs="0" maxOccurs="99" type="DataInformationTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificTravellerDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional details about a particular traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceNumber" type="AlphaNumericString_Length1To10" />
      <xs:element name="measurementValue" minOccurs="0" type="NumericInteger_Length1To18" />
      <xs:element name="firstDate" minOccurs="0" type="AlphaNumericString_Length1To35" />
      <xs:element name="surname" minOccurs="0" type="AlphaNumericString_Length1To70" />
      <xs:element name="firstName" minOccurs="0" type="AlphaNumericString_Length1To70" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecificTravellerTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional details about a particular traveller.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="travellerDetails" maxOccurs="9" type="SpecificTravellerDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" minOccurs="0" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a status and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusDetails" type="StatusDetailsTypeI" />
      <xs:element name="otherStatusDetails" minOccurs="0" maxOccurs="98" type="StatusDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a rate, type of tax, and currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rate" minOccurs="0" type="AlphaNumericString_Length1To17" />
      <xs:element name="countryCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="currencyCode" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="type" minOccurs="0" maxOccurs="99" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details relating to tax(es).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="taxCategory" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="taxDetails" minOccurs="0" maxOccurs="99" type="TaxDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Document type (MCO, Ticket,...). Only ticket is allowed for ATC Refund.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket data - number and type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TourDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide details of a tour by code, name of the tour provider, length, number of stops, room occupancy and number of rooms.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tourCode" minOccurs="0" type="AlphaNumericString_Length1To35" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TourInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information concerning a tour.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tourInformationDetails" minOccurs="0" type="TourDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDate" minOccurs="0" type="ProductDateTimeTypeI_104361C" />
      <xs:element name="boardPointDetails" minOccurs="0" type="LocationTypeI" />
      <xs:element name="offpointDetails" minOccurs="0" type="LocationTypeI" />
      <xs:element name="companyDetails" minOccurs="0" type="CompanyIdentificationTypeI" />
      <xs:element name="flightIdentification" minOccurs="0" type="ProductIdentificationDetailsTypeI" />
      <xs:element name="flightTypeDetails" minOccurs="0" type="ProductTypeDetailsTypeI" />
      <xs:element name="itemNumber" minOccurs="0" type="NumericInteger_Length1To6" />
      <xs:element name="specialSegment" minOccurs="0" type="AlphaNumericString_Length1To3" />
      <xs:element name="marriageDetails" minOccurs="0" maxOccurs="99" type="MarriageControlDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" type="OriginatorIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Originator Identification Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originatorTypeCode" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to specify which kind of info is given in DE 9900.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="originator" minOccurs="0" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Authority code of the requester If Sign Id : (Area Code)+(Numeric Sine)+(Agent Initials)+(Duty Code) ex : B0001XVSU).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To18">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..18</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,18}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To7">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,10}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FE33610BDF357107BD9436159F2A2056A80076D246717AD93D4D1622F060C861CDBC452A4CAA182A841FE7B8792DCA497DDF622CC0C47F3F1DE9BEBFAA6DE954D5D1D6E6FC42A2F568BFC9745F1817F05ED00B51C7851AC7FFE75BD2AF8F5B6F929CFD779CECA6D19870E70632C38D982A0C0E1A344A39A14CE9E50B3078970436FD84905E21C63B75E2E9F5A9BC9566AE83153BE5DB287DE690B9509628910A371275C6AA390A933A86FF7F46DA588A107A6BC064A41E1BC4B5EDB82236F7E6B3BE986D44EB8DE5A0A744330A77314EFCAA91DBF0BBE0B06A20C03974EF32BEF8E46530D232DFFEC8E3EB4321AEFD6BC77B28F671FCC5FA0798F30A66B83CA7AEC03708CC1A868074EFF3C184D35324EC8E57CC12FCD30931926DF5ABE4B7320DFD1F4E11174F68E6938CADEC6EBD025B8B4384A8BC0B4EF1F2CDCC39F3D38057732AAF3FC02EEE37F0213DC6BCE7322E8E5F0FC0801692BB20258A03264C91375185ED891E8DBF59630F389C9D11FE91C7F4ED60F0A58AFA49D21B7FEA489C66ABDFF5497D5BED6E628556CBCB7B8AF9B4365304A17AF8829E28F98DB6F65F80689F1290747AE71FFBB3F512D771A0731FAD6D981B5104E308331DA1B0356E3BD0FF11FF86871A4B94A4C98FE3B5611EBC6CECA71FF0BA2CE1B176F204E748C620BDEC737088D7E1270C6A61512A2984E295FE6C51CC38D0FA535547B566CD28251801529897A93282714B19521A6BA5F9C51260EF32231488776D427E123086B5CCE959B72BB7CD6600DAD2149402F19BDB2349E7E7B3E2496ABCBCD4C35293242355EB2718A3DA18DB77DECFAB8F156431029C0D862B19D607C8FDCBCDEC962C12690C4E792BDE92FCABBF25079B58323DDF6A158AD48D9AD344E34BFD50C9E3A22ED20F150D5D7A2D97DA92F247119408AD52ABF044453EE36BB3F58476761F04C444FF04F1C8982AC4793882373C4478E508AD7DE57D2AA9E5083C96717CEBE93326B41142BF6373D3854E31A050000
-->

