wsdl/PNR_RetrieveByRecLoc_11_3_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PRETRQ_11_3_1A" xmlns="http://xml.amadeus.com/PRETRQ_11_3_1A" elementFormDefault="qualified">
  <xs:element name="PNR_RetrieveByRecLoc">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR Retrieval Message
PNR Retrieval Message
Retrieve the SBR whose RecLoc is provided. If no RecLoc is provided, retrieves the SBR currently in AAA.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sbrRecLoc" type="ReservationControlInformationTypeI">
          <xs:annotation>
            <xs:documentation xml:lang="en">The RecLoc of the SBR to retrieve.  If not present, the request retrieves the SBR curently in AAA.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReservationControlInformationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Record Locator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">reservation control information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593C16EDB381086EF7C0AA2971E1696E424C0760DF0A0C44EB040EDB88A7A2B60D0E4D82642915A0E958D36C8BBEF50929BF4D4F6627386D40CF9FDFFDCAD36ABAAAC57CBDDFD465C14F3AB5971319B5FF2FAD405D4B2E7C55F8BF9A7C5E525BF5BD77F14C5A22858B92E63DF02DE1A0B4E362028B1BB9668549DD2D9336AB697081BDAC3562A10A718DB459E3F3736938DD4D061A67C93B37DE7B485A509224788D1B823E6DA2864EA04EAF1817E1B2962E88029AF818EA070DEA5A869C05134ED35AD747D6A275C672D25DA3E98E3298A0FE5D88E6F836F83812843CFA5D3FCC6BB83D154C348CBFF76071F1A198D770BDE39D9C5930FE63FD0BC43188E6B83CA7AEC02708CC1A8687B4EDFEC8DA61A192770059FF17333CC648629B69657E91EC82BBA7D78029D7D601A0EB2B3F12EB409971607691198F6DDDEC203FCD38153B095519DA61D70D7BF0413DCDB999724D0EBEEE50902D2AB6815C00295A1953C5287FE951D48BEAAB3C4CC272587789073F838AD7E52C07A25ED84DCFAA34E3206687C84BCF937A7C79A8354315F8DFFB5F716F355BD5B1A8CD2C51B528DB42415F3B50C8F90D41FCFE0A03B7EFBEC8F54D71D874B197DEF6CCF1A084798C00CEB5B0356E3830FF13B4A828074C71213DF1F734B7280B1938BDC6FE16ABD717103719466305EF03EBEA335C4C9CC191B9F90E8629AAA222FE6530E6F7D28ADA1DA937B932F8C025C92ABA8371974248A8D0C31D5FDEA8C32B19F1E1283746807AF121F41DCBF03ABCB75FEA2C11A7A862433BD66B4CBD2F5F4FB5122E3DC9CE767AC499901D530D5C629F68C36DE77B1EDE2ADB71A824809C666B3F588F12372F33633B3191B218979C9DEF517E5B6DC6D37D56E7E71B59FFD49166FA471E2E1BA62F0DC92623B89BBE5EA4ED4D5D7D559212E034831BF3AC7625BADEAEA0B6B693C0C9E48E411FDA88FB8A4D59349A289F9C8460E1845EA5B01CD2A3CC1755F81FAEC153B4B25B62E4C9BD24E6F6293F8A2F8C4FE07EC87BF5F16050000
-->

