wsdl/PNR_ChangeElement_11_3_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PNRCHG_11_3_1A" xmlns="http://xml.amadeus.com/PNRCHG_11_3_1A" elementFormDefault="qualified">
  <xs:element name="PNR_ChangeElement">
    <xs:annotation>
      <xs:documentation xml:lang="en">PNR element CHanGe
01.1 is used to map the query to the 01.1 potential replies, according to the Amadeus Edifact rules. It has been defined by Vista as it will be the first one to need/use it, but it belongs to the GEN domain.
</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageAction" type="MessageActionDetailsTypeI" />
        <xs:element name="numberOfUnits" minOccurs="0" type="NumberOfUnitsTypeI" />
        <xs:element name="intelligentWorkstationInfo" minOccurs="0" type="IntelligentWorkstationInformationType" />
        <xs:element name="longTextString" type="LongTextStringTypeI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IntelligentWorkstationInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the fact that a structured EDIFACT message is expected in outbound</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LongTextStringTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide unlimited length free for information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textStringDetails" type="AlphaNumericString_Length1To9999">
        <xs:annotation>
          <xs:documentation xml:lang="en">Block of free text. May include control characters such as carriage return and line feed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageActionDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the message type and business function</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageFunctionDetails" type="MessageFunctionBusinessDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">MESSAGE FUNCTION/BUSINESS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="responseType" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Response type coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageFunctionBusinessDetailsTypeI">
    <xs:sequence>
      <xs:element name="businessFunction" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Business function, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageFunction" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Message function, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalMessageFunction" minOccurs="0" maxOccurs="20" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Message function, coded</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of number of units and its purpose.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="units" minOccurs="0" type="NumericInteger_Length1To3" />
      <xs:element name="unitsQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">NC for Number of Columns / nL for Number of lines.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitDetailsTypeI_10067C">
    <xs:sequence>
      <xs:element name="units" type="NumericInteger_Length1To3" />
      <xs:element name="unitsQualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">NC for Number of columns / NLfor  Number of lines.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the number of units required.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfUnitsDetails1" type="NumberOfUnitDetailsTypeI_10067C" />
      <xs:element name="numberOfUnitsDetails2" minOccurs="0" maxOccurs="8" type="NumberOfUnitDetailsTypeI" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9999</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009593C16EDB300C86EF7A0A61971D86D84ED6025D001DDCC66907346997A6B701816231895059F244B9AB57F4DD47D94EDB9DB65D12899249F1FB7F5E16CB6295AF8BD9E6662926D9F864944D46E3CF7C7D683C2AD9F2ECCB747C36CDCEF8E562FD29CBA659C6F2451EDA1A70AE0D585981A0C0E65CA22ED7319C3CA1625B89B0A433AC6509E210423D4DD3A7CA24B2920A1A4C4A57A56CDB586560A6BD481142D0768FA9D225B2F200E5C31DFD565204DF002B9D02BA82C23A1B7755059676C359554BDBC672C236C650A06EBDDE1F82F890F7E5F8AD77B5D710A46FB9B48A5F38BBD38A726869F857BB73BE92413B3BE58D954D3838AF7F81E20D42775D692C8DC3C603C7E075194CCBE99BAD569423E1042EE3237E2C86894C30EE8DE1ABF80EE42B7ABD7F04957C600A76B231E1D2D71197123B69109872CDD6C01DFC68C096702B4379184EC09EFF134CB06F779EA3402F9BE747F0485DD1CA83014A432BB9A70AED0BDB917CABC610331795ECF69D9CDDC771F59704C695D20CC88DDBAB28A387CA0548AB9F2935AB77B20C69D1FFAF9D339816EBCD4C6390365C906AA425A9982EA47F80A87E7F073BDDF1FBB5DB535EBBEF1EA5D58D352DABC0EF6100D3ADE71A8CC23BE7C32B4A8280F4C61C23DF3F6333728036838BEC7FE1AA9DB66109A197A6339E772EBCA3D5EDA39913D6B710E9629CAA2CCDC6430CE7CEE74653EEC1BDD117BA049C91ABA83619B4278A95F421E6BDB7BAD4A11D1A095E5A349D57898F20EEAFC0D6F9227D566034B521C94C2F099DB2F83CF57E94C83817C7F9E97352A443D54DB5B6257B42136E9A503761EE8C022F6280B1D168D163FC885CBFCDCC68C47A48629CB377F5457E9B6F6E97ABCD7872B21D9D92C52BA9AD28F26B064F3529B691B899159762BDBA2F8E0A71E9418AD3F1712FAEEEE6ABE21BAB693C341E48E41E7DAF8F98D0EA5147D1C4B867233B8C22D6BD3848BB87C2406C961D751257EDD66B42E201ECBC6B6215C70EC3D01D1B6C20B209FB0D4C063F9E20050000
-->

